
  <div class="row">
    <div class="col-12">
      <h5><b>Filters</b></h5>
    </div>
      </div>

     <div class="row alignCenter" >
        <div class="col-12 ">
          <p><span>Launch Year</span></p>
          
        </div>

        
      </div> 

      <div class="row ">
      <div class="col-6 aligncenter" *ngFor="let year of launchYears">
       <div class="mybadge" [ngStyle] ="{'background-color' : selectedYear==year ? 'rgb(35, 126, 35)' : 'rgb(90, 200, 90)'}" (click)="onChangeYear(year)">{{year}}</div>
       </div>


      </div> 

      <div class="row alignCenter ">
        <div class="col-12  ">
          <p><u>Successful Launch</u></p>
          
        </div>

        
      </div> 

      <div class="row ">
      <div class="col-6 aligncenter" *ngFor="let index of sucLaunch">
      <div class="mybadge" (click)="onChangeLaunching(index)" [ngStyle] ="{'background-color' : LaunchingStatus==index ? 'rgb(35, 126, 35)' : 'rgb(90, 200, 90)'}">{{index}}</div>
      </div>


      </div> 
      <div class="row alignCenter">
        <div class="col-12 ">
        <p><u>Successful Landing</u><p>
          
      </div>

        
      </div> 

      <div class="row ">
      <div class="col-6 aligncenter" *ngFor="let index of sucLaunch">
      <div class="mybadge" (click)="onChangeLanding(index)" [ngStyle] ="{'background-color' : LandingStatus==index ? 'rgb(35, 126, 35)' : 'rgb(90, 200, 90)'}">{{index}}</div>
      </div>


      </div> 

     
  
  



